DISCORD_TOKEN=
DATABASE_URL=
DATABASE_NAME=

# Dont Touch if u don't know what are you doing!
MESSAGE_SWEEP_INTERVAL_SECONDS=600
MESSAGE_CACHE_LIFETIME_SECONDS=1800

LOG_WEBHOOK_GUILD_CREATE_URL=
LOG_WEBHOOK_GUILD_DELETE_URL=
LOG_WEBHOOK_COMMANDS_URL=
LOG_WEBHOOK_ERRORS_URL=
LOG_WEBHOOK_BLACKLIST_URL=
LOG_WEBHOOK_MEMORY_URL=